.env
.venv
*.log
*.pot
*.pyc
.vscode/
__pycache__/
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
.cache/
django.log
media/
env
staticfiles/
payload.txt
db.sqlite3
upload
answer_sheet_images
.idea